<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Oracle Cloud Storage TDD">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="ORACLE_STORAGE_USERNAME" value="your@email.com"/>
        <env name="ORACLE_STORAGE_PASSWORD" value="yourPassword"/>
        <env name="ORACLE_STORAGE_IDENTIFIER" value="yourIdentifierStorage"/>
        <env name="ORACLE_STORAGE_AUTH_URI" value="yourAuthUri"/>
        <env name="ORACLE_STORAGE_CONTAINER" value="yourContainer"/>
        <env name="ORACLE_STORAGE_LOCAL_PATH" value="/tmp/localWhereDoYouSaveTheFiles"/>
    </php>
</phpunit>
